.app {
  /* background-image: url("https://images.all-free-download.com/images/graphiclarge/film_with_popcorn_cinema_poster_vector_584996.jpg"); */
  background-image: linear-gradient(rgb(43, 43, 41), rgb(27, 27, 54));
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

ul {
  list-style-type: "";
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
}
.formcontainer {
  display: grid;
  place-items: center;
  flex-wrap: wrap;
}

.contain {
  width: 100%;
  height: 100%;
}

.left-panel {
  /* width: 18%;
    height: 22%;
    float: left;
    background-color: rosybrown;
    border-collapse: collapse; */
}

.center-panel {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #22323f;
  padding: 10px;
}

.card {
  background-color: rgba(123, 197, 247, 0.699);
  border: 1px solid rgba(250, 231, 126, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.right-panel1 {
  width: 33.33%;
  height: 10%;
  position: relative;
  float: right;
  border-collapse: collapse;
}

.top-panel {
 color: "ivory";
  height: 100%;
  background-color: lightcoral;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}

.neonText {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}

.userpage::after {
   content: "";
  display: table;
  clear: both;
}
.column{
   float: left;
  width: 33.33%;
  padding: 10px;
}


